body {
  font-family: "Manrope", sans-serif;
  margin: 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #f5f6f8;
  padding-top: 10px;
  padding-bottom: 10px;
}

.masthead-container {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.masthead-container h1 {
  color: #424242;
  font-size: 25px;
}

.masthead-container h2 {
  color: #424242;
  font-size: 18px;
}

.masthead-container button {
  color: #424242;
  border: 1px solid #424242;
  border-radius: 6px;
  width: 220px;
  height: 50px;
  font: "Manrope", san-serif;
  font-size: 15px;
}

.masthead-text-container {
  width: 250px;
  padding: 80px;
}

.masthead-image {
  width: 874px;
  height: 460px;
}

.flex-example {
  display: flex;
  justify-content: space-between;
}

.heading-example {
  display: flex;
}

.signup-button {
  width: 121px;
  height: 50px;
  border: 1px solid #424242;
  border-radius: 10px;
  color: #424242;
  font-size: 18px;
  margin-right: 35px;
}

.signin-button {
  width: 121px;
  height: 50px;
  font-size: 18px;
  background: #28c8ab;
  color: #fff;
  border-radius: 10px;
  border: 1px solid #28c8ab;
}
